<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019993706665-usjl66c7qhobc02iq9klspu4326pssbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019993706665-usjl66c7qhobc02iq9klspu4326pssbm</string>
	<key>API_KEY</key>
	<string>AIzaSyCZiNwBPtzvlt8KqCjdesTpGAcydtek9sI</string>
	<key>GCM_SENDER_ID</key>
	<string>1019993706665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secrtaria</string>
	<key>PROJECT_ID</key>
	<string>secrtaria-app</string>
	<key>STORAGE_BUCKET</key>
	<string>secrtaria-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019993706665:ios:1cdc579b0cd10f594799b8</string>
</dict>
</plist>